
@{
    ViewData["Title"] = "Index";
}

<h1>List of users   </h1>
<table class="table">
    @foreach(var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-rout-userid ="@user.id">Access rights</a>
            </td>
        </tr>
    }
</table>
